<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <form action="uploadfile" method="post" enctype="multipart/form-data" accept-charset="utf-8">
        <fieldset>
            <label for="name">项目名</label>
            <input type="text" name="name" value="" placeholder="项目名">
            <label for="link">项目链接</label>
            <input type="text" name="link" value="" placeholder="链接地址">
        </fieldset>

        <fieldset class="ftp-info">
            <input type="text" name="ftp_username" value="" placeholder="ftp用户名">
            <input type="text" name="ftp_password" value="" placeholder="ftp密码">
            <input type="file" name="file" value="file" multiple="multiple" placeholder="项目压缩文件">
        </fieldset>

        <fieldset>
            <select name="ftp_servers">
                <option value="localhost">默认服务器</option>
                <option value="noipaddress_here">没有服务器</option>
            </select>
            <input type="text" name="ftp_custom_server" value="" placeholder="自定义服务器地址">
            <input type="text" name="ftp_url" value="" placeholder="url地址">
        </fieldset>
        <fieldset>
            <!-- 提交按钮-->
            <input type="submit" name="submit" value="提交">
        </fieldset>
    </form>
    <!-- Bottom js-->
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/vendors/jquery-1.9.1.min.js"><\/script>')
    </script>
    <!-- page script-->
    <script type="text/javascript">
    /**
     * 验证逻辑
     * @return {[type]} [description]
     */
    function fieldIsValid() {
        var ftp_username = $("input[name=ftp_username]").val();
        var file = $("input[name=file]").val();
        var ftp_url = $("input[name=ftp_url]").val();
        //console.log("ftp_username ftp_username is:"+ftp_username);
        //console.log("ftp_password ftp_password is:"+ftp_password);
        //console.log("file file is:"+file);
        return ftp_username&&file&&ftp_url;
    }
    $("form").submit(function(event) {
        /* 返回值无效，阻止默认事件*/
        if (!fieldIsValid()) {
            event.preventDefault();
        }

    });;
    </script>
</body>

</html>
