<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
</head>

<body>
    <p>你已经提交完毕 <a href="index.html">返回主页</a></p>
    <p>文件状态如下:</p>
    <p><%=JSON.stringify(file_info)%></p>

    <!-- Bottom js-->
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/vendors/jquery-1.9.1.min.js"><\/script>')
    </script>
    <script type="text/javascript">
    var soo=<%-JSON.stringify(file_info)%>;
    if(JSON.parse){
    	console.log("have JSON.parse");
    	//console.log(JSON.parse(soo));
    }
    //document.write(soo);
    console.log($.type(soo));
    </script>

    
    

</body>

</html>
